#banner {
    text-align: center;
    padding: 10px;
    background-color: beige;
}

#wordToSpell {
    text-align: center;
}

#box {
    height: 156px;
}

.col-sm-2 {
    align-content: center;
    padding: 0 35px;
    margin: 0;
}

.col-sm-4 {
    border: 5px groove gold;
    margin: 10px;
}

.col-sm-8 {
    border: 5px groove gold;
    margin: 20px;
}

.btn-warning {
    border: 5px groove gold;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    margin: 0 auto;
    padding: 0;
}