#banner {
    text-align: center;
    padding: 10px;
    background-color: beige;
}

#wordToSpell {
    text-align: center;
}

#box {
    height: 156px;
}

.col-sm-2 {
    align-content: center;
    padding: 0 30px;
    /* border: 5px groove gold; */
}

.btn-warning {
    border: 5px groove gold;
    padding-left: 25px;
    padding-right: 25px;
}